!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{href: "/favicon.png", rel: 'shortcut icon'}
    %title HenriWeather
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      .row
        .col.s10.offset-s1
          .nav-wrapper
            = link_to root_url, class: 'brand-logo' do
              = image_tag('logo.gif')
              Ryan Stuhl
            %ul#nav-mobile.right.hide-on-med-and-down
              - if @current_user
                %li
                  = link_to "#{@current_user&.email}", user_path(@current_user)
                %li
                  = link_to "Logout", "/logout", method: :delete
    .row
      .col.s10.offset-s1
        = yield
